# 120 metų Olimpiados istorijos (Vasaros ir Žiemos žaidynių)
Nuo 1896m. - 2016m.

In [5]:
import pandas as pd
import numpy as np

In [20]:
data = pd.read_csv('athlete_events.csv')
regions = pd.read_csv('noc_regions.csv')
df = pd.merge(data, regions, on='NOC', how='left')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN,Poland,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Poland,NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Poland,NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271116 entries, 0 to 271115
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
 15  region  270746 non-null  object
 16  notes   5039 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 37.2+ MB

In [9]:
total_rows = len(df.axes[0]) # Is viso eiluciu
print (total_rows)

271116

In [10]:
total_cols = len(df.axes[1]) # Is viso stulpeliu
print (total_cols)

17

In [11]:
df.ID.nunique(dropna = True) # Kiek is viso yra dalyvave

135571

In [21]:
df.Games.nunique(dropna = True) # Kartai kiek vyko Olimpines

51

In [22]:
df.City.nunique(dropna = True)

42

In [23]:
df.Sport.nunique(dropna = True)

66

In [24]:
df.Event.nunique(dropna = True)

765

In [25]:
df['Sex'].value_counts()

M    196594
F     74522
Name: Sex, dtype: int64

In [26]:
df['Medal'].value_counts()

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

# Pradedami valyti ir analizuoti duomenys

# Hipoteze

In [27]:
df = df.rename( columns={'Sex': 'Gender'})

In [28]:
df = df.rename( columns={'region': 'Region'})

In [29]:
df = df.drop('notes', axis=1)

In [118]:
df.dropna(subset=['Age', 'Height', 'Weight', 'Medal'], inplace=True)
df

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Finland
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,Finland
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold,Finland
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold,Finland
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold,Finland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver,Russia
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze,Russia
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze,Poland
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze,Russia
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver,Russia

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30181 entries, 40 to 271103
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30181 non-null  int64
 1   Name    30181 non-null  object
 2   Gender  30181 non-null  object
 3   Age     30181 non-null  float64
 4   Height  30181 non-null  float64
 5   Weight  30181 non-null  float64
 6   Team    30181 non-null  object
 7   NOC     30181 non-null  object
 8   Games   30181 non-null  object
 9   Year    30181 non-null  int64
 10  Season  30181 non-null  object
 11  City    30181 non-null  object
 12  Sport   30181 non-null  object
 13  Event   30181 non-null  object
 14  Medal   30181 non-null  object
 15  Region  30172 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 3.9+ MB

In [45]:
df.describe()

                  ID           Age        Height        Weight          Year
count   30181.000000  30181.000000  30181.000000  30181.000000  30181.000000
mean    70225.949604     25.429012    177.642358     73.753554   1988.005964
std     38839.720551      5.049684     10.924188     15.004992     22.718451
min        16.000000     13.000000    136.000000     28.000000   1896.000000
25%     37494.000000     22.000000    170.000000     63.000000   1976.000000
50%     69771.000000     25.000000    178.000000     73.000000   1992.000000
75%    104111.000000     28.000000    185.000000     83.000000   2006.000000
max    135563.000000     66.000000    223.000000    182.000000   2016.000000

In [32]:
df['Sport'].value_counts()

Athletics                    3648
Swimming                     2486
Rowing                       2104
Ice Hockey                   1301
Hockey                       1168
Gymnastics                   1161
Fencing                      1109
Football                     1084
Canoeing                     1041
Basketball                   1000
Wrestling                     967
Volleyball                    958
Handball                      937
Cycling                       845
Water Polo                    764
Boxing                        708
Cross Country Skiing          687
Sailing                       677
Equestrianism                 663
Shooting                      542
Weightlifting                 532
Judo                          526
Speed Skating                 488
Biathlon                      388
Alpine Skiing                 354
Baseball                      333
Diving                        318
Bobsleigh                     283
Short Track Speed Skating     274
Figure Skating                249
Synchronized Swimming         214
Archery                       206
Luge                          178
Ski Jumping                   175
Tennis                        173
Softball                      172
Table Tennis                  163
Badminton                     154
Modern Pentathlon             153
Taekwondo                     144
Nordic Combined               137
Curling                       131
Rhythmic Gymnastics           124
Freestyle Skiing              102
Snowboarding                   89
Rugby Sevens                   74
Beach Volleyball               68
Triathlon                      30
Rugby                          30
Trampolining                   29
Skeleton                       24
Tug-Of-War                      8
Golf                            4
Lacrosse                        2
Art Competitions                2
Name: Sport, dtype: int64

In [46]:
df['Event'].value_counts()

Ice Hockey Men's Ice Hockey                                   1001
Football Men's Football                                        783
Hockey Men's Hockey                                            714
Basketball Men's Basketball                                    610
Water Polo Men's Water Polo                                    573
                                                              ...
Diving Men's Plain High                                          1
Canoeing Men's Folding Kayak Singles, 10 kilometres              1
Art Competitions Mixed Architecture, Architectural Designs       1
Athletics Men's All-Around Championship                          1
Tennis Men's Singles, Covered Courts                             1
Name: Event, Length: 562, dtype: int64

In [47]:
df_athletes_men = df[(df.Gender == 'M')]
df_athletes_women = df[(df.Gender == 'F')]

print('Men athletes :', df_athletes_men.shape)
print('Women athletes:',df_athletes_women.shape)

Men athletes : (19831, 16)
Women athletes: (10350, 16)

In [119]:
df.Team.value_counts().head()

United States    4273
Soviet Union     2203
Germany          1518
Australia        1196
Russia           1091
Name: Team, dtype: int64

In [120]:
pd.crosstab(data.Year,data.Medal,margins=True)

Medal  Bronze   Gold  Silver    All
Year
1896       38     62      43    143
1900      175    201     228    604
1904      150    173     163    486
1906      145    157     156    458
1908      256    294     281    831
1912      300    326     315    941
1920      367    493     448   1308
1924      311    332     319    962
1928      281    275     267    823
1932      232    261     246    739
1936      330    348     347   1025
1948      325    330     332    987
1952      347    351     335   1033
1956      348    353     342   1043
1960      357    359     342   1058
1964      401    408     406   1215
1968      421    425     410   1256
1972      485    474     455   1414
1976      518    508     505   1531
1980      542    529     531   1602
1984      576    571     551   1698
1988      637    607     601   1845
1992      710    663     657   2030
1994      112    110     109    331
1996      629    608     605   1842
1998      150    145     145    440
2000      680    663     661   2004
2002      159    162     157    478
2004      677    664     660   2001
2006      175    176     175    526
2008      710    671     667   2048
2010      171    174     175    520
2012      679    632     630   1941
2014      198    202     197    597
2016      703    665     655   2023
All     13295  13372   13116  39783

In [138]:
season_medal=df.groupby(['Season','Medal']).size().reset_index()
season_medal

   Season   Medal     0
0  Summer  Bronze  8566
1  Summer    Gold  8542
2  Summer  Silver  8233
3  Winter  Bronze  1582
4  Winter    Gold  1625
5  Winter  Silver  1633

In [75]:
df_athletes_men.describe()

                  ID           Age        Height        Weight          Year
count   19831.000000  19831.000000  19831.000000  19831.000000  19831.000000
mean    69511.434925     25.862942    181.352831     79.251324   1984.019061
std     38612.218475      4.969973      9.970714     13.963534     24.384139
min        16.000000     13.000000    140.000000     41.000000   1896.000000
25%     37301.000000     22.000000    175.000000     70.000000   1972.000000
50%     69248.000000     25.000000    181.000000     78.000000   1988.000000
75%    103122.000000     28.000000    188.000000     87.000000   2004.000000
max    135554.000000     66.000000    223.000000    182.000000   2016.000000

In [76]:
df_athletes_women.describe()

                  ID           Age        Height        Weight          Year
count   10350.000000  10350.000000  10350.000000  10350.000000  10350.000000
mean    71594.987343     24.597585    170.532947     63.219614   1995.645024
std     39237.482011      5.097057      8.977389     10.681140     16.643975
min        37.000000     13.000000    136.000000     28.000000   1920.000000
25%     37777.000000     21.000000    165.000000     57.000000   1984.000000
50%     70711.000000     24.000000    170.000000     63.000000   2000.000000
75%    106938.000000     28.000000    176.000000     70.000000   2008.000000
max    135563.000000     52.000000    210.000000    167.000000   2016.000000

In [42]:
df_sum_athletes_men = df_athletes_men[(df_athletes_men.Season == 'Summer')]
df_w_athletes_men = df_athletes_men[(df_athletes_men.Season == 'Winter')]
df_sum_athletes_women = df_athletes_women[(df_athletes_women.Season == 'Summer')]
df_w_athletes_women = df_athletes_women[(df_athletes_women.Season == 'Winter')]

print('Summer Games athletesM   : ', df_sum_athletes_men.shape)
print('Winter Games athletesM  : ', df_w_athletes_men.shape)
print('Summer Games athletesW   : ', df_sum_athletes_women.shape)
print('Winter Games athletesW   : ', df_w_athletes_women.shape)

Summer Games athletesM   :  (16676, 16)
Winter Games athletesM  :  (3155, 16)
Summer Games athletesW   :  (8665, 16)
Winter Games athletesW   :  (1685, 16)

In [121]:
df_athletes_women['Age'].value_counts()

25.0    863
24.0    850
23.0    817
22.0    817
26.0    737
27.0    732
21.0    712
28.0    571
20.0    534
29.0    483
19.0    472
30.0    412
18.0    398
31.0    302
17.0    290
16.0    252
32.0    245
33.0    180
15.0    148
34.0    138
35.0     82
36.0     67
14.0     49
37.0     37
38.0     36
39.0     26
40.0     16
42.0     14
41.0     14
43.0     12
46.0     10
13.0      9
44.0      9
47.0      5
45.0      3
52.0      3
49.0      2
51.0      2
48.0      1
Name: Age, dtype: int64

In [122]:
df_athletes_men['Age'].value_counts()

23.0    1925
24.0    1799
22.0    1732
25.0    1695
26.0    1641
27.0    1481
21.0    1428
28.0    1377
29.0    1070
20.0    1016
30.0     844
31.0     648
19.0     553
32.0     515
33.0     378
34.0     315
18.0     246
35.0     213
36.0     174
37.0     123
17.0     109
38.0      86
40.0      74
39.0      68
41.0      44
42.0      41
16.0      32
46.0      31
44.0      28
45.0      23
43.0      21
52.0      15
49.0      13
48.0      13
47.0      10
50.0       9
15.0       7
54.0       5
56.0       5
14.0       4
60.0       3
51.0       3
55.0       3
58.0       3
61.0       2
53.0       2
59.0       1
66.0       1
57.0       1
13.0       1
Name: Age, dtype: int64

In [123]:
df_athletes_women['Age'].max()

52.0

In [125]:
df_athletes_women[df_athletes_women['Age'] == 52].head()

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
53710,27549,Patricia Dench,F,52.0,163.0,65.0,Australia,AUS,1984 Summer,1984,Summer,Los Angeles,Shooting,"Shooting Women's Sporting Pistol, 25 metres",Bronze,Australia
145817,73175,"Elizabeth ""Beezie"" Madden (Patton-)",F,52.0,168.0,63.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",Silver,USA
239332,119965,Lesley Allison Thompson-Willie,F,52.0,160.0,50.0,Canada,CAN,2012 Summer,2012,Summer,London,Rowing,Rowing Women's Coxed Eights,Silver,Canada

In [126]:
df_athletes_women['Age'].min()

13.0

In [127]:
df_athletes_women[df_athletes_women['Age'] == 13].head()

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
44972,23192,Robin Marie Corsiglia (-Scholefield),F,13.0,157.0,45.0,Canada,CAN,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Bronze,Canada
52010,26731,Donna Elizabeth de Varona (-Pinto),F,13.0,168.0,61.0,United States,USA,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold,USA
63524,32552,"Kornelia Ender (-Matthes, -Grummt)",F,13.0,172.0,59.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Silver,Germany
63525,32552,"Kornelia Ender (-Matthes, -Grummt)",F,13.0,172.0,59.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 200 metres Individual Medley,Silver,Germany
63526,32552,"Kornelia Ender (-Matthes, -Grummt)",F,13.0,172.0,59.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Silver,Germany

In [128]:
df_athletes_women['Height'].value_counts()

170.0    800
168.0    639
165.0    573
175.0    551
173.0    542
        ...
210.0      2
137.0      2
197.0      2
205.0      1
138.0      1
Name: Height, Length: 70, dtype: int64

In [129]:
df_athletes_women['Height'].max()

210.0

In [130]:
df_athletes_women[df_athletes_women['Height'] == 210.0].head()

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
216267,108551,Ujana Semjonova,F,24.0,210.0,128.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Basketball,Basketball Women's Basketball,Gold,Russia
216268,108551,Ujana Semjonova,F,28.0,210.0,128.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Basketball,Basketball Women's Basketball,Gold,Russia

In [131]:
df_athletes_women['Height'].min()

136.0

In [132]:
df_athletes_women[df_athletes_women['Height'] == 136.0].head()

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
69216,35292,Mariya Yevgenyevna Filatova (-Kurbatova),F,14.0,136.0,30.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Team All-Around,Gold,Russia
69222,35292,Mariya Yevgenyevna Filatova (-Kurbatova),F,19.0,136.0,30.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Team All-Around,Gold,Russia
69225,35292,Mariya Yevgenyevna Filatova (-Kurbatova),F,19.0,136.0,30.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Uneven Bars,Bronze,Russia
143279,71914,Lu Li,F,15.0,136.0,30.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Gymnastics,Gymnastics Women's Uneven Bars,Gold,China
143280,71914,Lu Li,F,15.0,136.0,30.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Gymnastics,Gymnastics Women's Balance Beam,Silver,China

In [133]:
df_athletes_women['Weight'].value_counts()

60.0     544
63.0     520
58.0     465
70.0     445
64.0     442
        ...
114.0      1
110.0      1
113.0      1
97.0       1
133.0      1
Name: Weight, Length: 111, dtype: int64

In [134]:
df_athletes_women['Weight'].max()

167.0

In [135]:
df_athletes_women[df_athletes_women['Weight'] == 167.0].head()

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
124420,62843,Olha Vasylivna Korobka,F,22.0,181.0,167.0,Ukraine,UKR,2008 Summer,2008,Summer,Beijing,Weightlifting,Weightlifting Women's Super-Heavyweight,Silver,Ukraine

In [136]:
df_athletes_women['Weight'].min()

28.0

In [137]:
df_athletes_women[df_athletes_women['Weight'] == 28.0].head()

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
256836,128605,Wang Xin (Ruoxue-),F,15.0,137.0,28.0,China,CHN,2008 Summer,2008,Summer,Beijing,Diving,Diving Women's Platform,Bronze,China
256837,128605,Wang Xin (Ruoxue-),F,15.0,137.0,28.0,China,CHN,2008 Summer,2008,Summer,Beijing,Diving,Diving Women's Synchronized Platform,Gold,China

# Aukso medaliu analize

In [62]:
goldMedals = df[(df.Medal == 'Gold')]

In [63]:
goldMedals.sample(3)

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
186478,93754,Ariel Osvaldo Pestano Valdes,M,30.0,175.0,78.0,Cuba,CUB,2004 Summer,2004,Summer,Athina,Baseball,Baseball Men's Baseball,Gold,Cuba
32059,16483,Lyubov Viktorovna Burda (-Andrianova),F,19.0,162.0,48.0,Soviet Union,URS,1972 Summer,1972,Summer,Munich,Gymnastics,Gymnastics Women's Team All-Around,Gold,Russia
39519,20335,Chen Zhong,F,17.0,183.0,73.0,China,CHN,2000 Summer,2000,Summer,Sydney,Taekwondo,Taekwondo Women's Heavyweight,Gold,China

In [64]:
goldMedals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10167 entries, 42 to 271076
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10167 non-null  int64
 1   Name    10167 non-null  object
 2   Gender  10167 non-null  object
 3   Age     10167 non-null  float64
 4   Height  10167 non-null  float64
 5   Weight  10167 non-null  float64
 6   Team    10167 non-null  object
 7   NOC     10167 non-null  object
 8   Games   10167 non-null  object
 9   Year    10167 non-null  int64
 10  Season  10167 non-null  object
 11  City    10167 non-null  object
 12  Sport   10167 non-null  object
 13  Event   10167 non-null  object
 14  Medal   10167 non-null  object
 15  Region  10166 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 1.3+ MB

In [65]:
goldMedals.describe()

                  ID           Age        Height        Weight          Year
count   10167.000000  10167.000000  10167.000000  10167.000000  10167.000000
mean    70278.370906     25.330678    177.997246     74.134110   1986.836235
std     39096.901002      5.020578     11.107924     15.175849     23.971158
min        17.000000     13.000000    136.000000     28.000000   1896.000000
25%     36963.000000     22.000000    170.000000     63.000000   1972.000000
50%     69800.000000     25.000000    178.000000     73.000000   1992.000000
75%    104812.000000     28.000000    185.000000     83.000000   2004.000000
max    135553.000000     59.000000    223.000000    170.000000   2016.000000

In [66]:
goldMedals['ID'][goldMedals['Age']<18].count() # Jaunesni nei 18 metu

344

In [67]:
goldMedals['ID'][goldMedals['Age'] > 50].count()# Vyresni nei 50 metu

14

In [69]:
goldMedals.Region.value_counts().reset_index(name='Medal').head(15)

          index  Medal
0           USA   2115
1        Russia   1465
2       Germany   1102
3        Canada    362
4         China    351
5            UK    330
6     Australia    319
7         Italy    315
8       Hungary    289
9        France    285
10        Japan    226
11  Netherlands    218
12       Sweden    197
13  South Korea    190
14      Finland    178

In [70]:
gold_pagal_kg = goldMedals.loc[goldMedals['Weight'] == 68]

In [71]:
gold_pagal_kg ['Sport'].value_counts()

Athletics                    44
Swimming                     38
Football                     18
Sailing                      14
Cycling                      12
Gymnastics                   12
Wrestling                    12
Cross Country Skiing         11
Basketball                   11
Nordic Combined              10
Hockey                       10
Equestrianism                10
Canoeing                      9
Alpine Skiing                 8
Biathlon                      7
Fencing                       7
Rowing                        6
Volleyball                    5
Shooting                      5
Ice Hockey                    4
Water Polo                    4
Short Track Speed Skating     4
Taekwondo                     4
Handball                      4
Modern Pentathlon             3
Curling                       3
Weightlifting                 3
Badminton                     2
Snowboarding                  2
Softball                      1
Baseball                      1
Speed Skating                 1
Judo                          1
Figure Skating                1
Ski Jumping                   1
Luge                          1
Archery                       1
Name: Sport, dtype: int64

In [144]:
gold_pagal_cm = goldMedals.loc[goldMedals['Height'] == 176]

In [146]:
gold_pagal_cm ['Sport'].value_counts()

Athletics                    40
Canoeing                     22
Fencing                      22
Football                     22
Ice Hockey                   19
Swimming                     18
Hockey                       16
Handball                     12
Rowing                       12
Equestrianism                11
Shooting                     11
Cycling                      10
Sailing                      10
Rhythmic Gymnastics           9
Biathlon                      8
Wrestling                     7
Cross Country Skiing          7
Volleyball                    6
Alpine Skiing                 5
Weightlifting                 4
Baseball                      4
Boxing                        4
Modern Pentathlon             3
Tennis                        3
Water Polo                    3
Synchronized Swimming         3
Table Tennis                  3
Speed Skating                 3
Short Track Speed Skating     2
Bobsleigh                     2
Ski Jumping                   2
Curling                       1
Art Competitions              1
Freestyle Skiing              1
Nordic Combined               1
Luge                          1
Gymnastics                    1
Taekwondo                     1
Figure Skating                1
Badminton                     1
Name: Sport, dtype: int64

In [84]:
LT_athletes = df[(df.Region == 'Lithuania')].sort_values('Medal')

In [85]:
LT_athletes

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
1807,1000,Dainius Adomaitis,M,26.0,202.0,100.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Bronze,Lithuania
151669,76115,Tomas Masiulis,M,24.0,205.0,104.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Bronze,Lithuania
270741,135401,Eurelijus ukauskas,M,27.0,218.0,115.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Bronze,Lithuania
160684,80631,Mindaugas Mizgaitis,M,28.0,190.0,120.0,Lithuania,LTU,2008 Summer,2008,Summer,Beijing,Wrestling,"Wrestling Men's Super-Heavyweight, Greco-Roman",Bronze,Lithuania
179873,90401,Tomas Pasas,M,24.0,188.0,81.0,Lithuania,LTU,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Men's Basketball,Bronze,Lithuania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127707,64378,Edvinas Krungolcas,M,35.0,187.0,79.0,Lithuania,LTU,2008 Summer,2008,Summer,Beijing,Modern Pentathlon,Modern Pentathlon Men's Individual,Silver,Lithuania
231847,116307,Jevgenijus uklinas,M,26.0,196.0,109.0,Lithuania,LTU,2012 Summer,2012,Summer,London,Canoeing,"Canoeing Men's Canadian Singles, 200 metres",Silver,Lithuania
84812,43037,Mindaugas Grikonis,M,30.0,190.0,92.0,Lithuania,LTU,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Double Sculls,Silver,Lithuania
201228,101070,Saulius Ritter,M,27.0,202.0,110.0,Lithuania,LTU,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Double Sculls,Silver,Lithuania
222596,111829,Austra Skujyt,F,24.0,188.0,82.0,Lithuania,LTU,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's Heptathlon,Silver,Lithuania

In [91]:
LT_Men = LT_athletes[(LT_athletes.Gender == 'M')]

In [98]:
LT_Men.head()

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
1807,1000,Dainius Adomaitis,M,26.0,202.0,100.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Bronze,Lithuania
151669,76115,Tomas Masiulis,M,24.0,205.0,104.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Bronze,Lithuania
270741,135401,Eurelijus ukauskas,M,27.0,218.0,115.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Bronze,Lithuania
160684,80631,Mindaugas Mizgaitis,M,28.0,190.0,120.0,Lithuania,LTU,2008 Summer,2008,Summer,Beijing,Wrestling,"Wrestling Men's Super-Heavyweight, Greco-Roman",Bronze,Lithuania
179873,90401,Tomas Pasas,M,24.0,188.0,81.0,Lithuania,LTU,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Men's Basketball,Bronze,Lithuania

In [95]:
LT_Women = LT_athletes[(LT_athletes.Gender == 'F')]

In [99]:
LT_Women.head()

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region
191508,96161,Kristina Poplavskaja (-Bagvilien),F,29.0,184.0,77.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Women's Double Sculls,Bronze,Lithuania
208288,104546,Birut akickien (Juoznait-),F,31.0,186.0,80.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Women's Double Sculls,Bronze,Lithuania
247431,123871,Milda Valiukait,F,22.0,176.0,66.0,Lithuania,LTU,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Women's Double Sculls,Bronze,Lithuania
253344,126862,Donata Vitartait,F,27.0,170.0,62.0,Lithuania,LTU,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Women's Double Sculls,Bronze,Lithuania
269815,134996,Diana ilit,F,24.0,162.0,61.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Women's Road Race, Individual",Bronze,Lithuania

In [100]:
goldMedals_LT = LT_athletes[(LT_athletes.Medal == 'Gold')]

In [105]:
goldMedals_LT.Event.value_counts().reset_index(name='Medal').head()

                                      index  Medal
0              Athletics Men's Discus Throw      3
1                     Shooting Women's Trap      1
2      Modern Pentathlon Women's Individual      1
3  Swimming Women's 100 metres Breaststroke      1

In [ ]:
# df[ df['Gender'] == 'F' ].groupby('Sport').sum()[ ['Medal'] ]