# 120 metų Olimpiados istorijos (Vasaros ir Žiemos žaidynių)
Nuo 1896m. - 2016m.

In [2]:
import pandas as pd
import numpy as np

In [126]:
df = pd.read_csv('athlete_events.csv')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30181 entries, 40 to 271103
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30181 non-null  int64
 1   Name    30181 non-null  object
 2   Gender  30181 non-null  object
 3   Age     30181 non-null  float64
 4   Height  30181 non-null  float64
 5   Weight  30181 non-null  float64
 6   Team    30181 non-null  object
 7   NOC     30181 non-null  object
 8   Games   30181 non-null  object
 9   Year    30181 non-null  int64
 10  Season  30181 non-null  object
 11  City    30181 non-null  object
 12  Sport   30181 non-null  object
 13  Event   30181 non-null  object
 14  Medal   30181 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 3.7+ MB

In [69]:
total_rows = len(df.axes[0]) # Is viso eiluciu
print (total_rows)

271116

In [71]:
total_cols = len(df.axes[1]) # Is viso stulpeliu
print (total_cols)

15

In [87]:
df.ID.nunique(dropna = True) # Kiek is viso yra dalyvave

135571

In [149]:
df.Games.nunique(dropna = True) # Kartai kiek vyko Olimpines

51

In [108]:
df.City.nunique(dropna = True)

42

In [109]:
df.Sport.nunique(dropna = True)

66

In [111]:
df.Event.nunique(dropna = True)

765

In [124]:
df['Gender'].value_counts()

M    19831
F    10350
Name: Gender, dtype: int64

In [12]:
df['Medal'].value_counts()

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

# Pradedami valyti ir analizuoti duomenys

In [128]:
df.dropna(subset=['Age', 'Height', 'Weight', 'Medal'], inplace=True)
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [130]:
df = df.rename( columns={'Sex': 'Gender'})

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30181 entries, 40 to 271103
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30181 non-null  int64
 1   Name    30181 non-null  object
 2   Gender  30181 non-null  object
 3   Age     30181 non-null  float64
 4   Height  30181 non-null  float64
 5   Weight  30181 non-null  float64
 6   Team    30181 non-null  object
 7   NOC     30181 non-null  object
 8   Games   30181 non-null  object
 9   Year    30181 non-null  int64
 10  Season  30181 non-null  object
 11  City    30181 non-null  object
 12  Sport   30181 non-null  object
 13  Event   30181 non-null  object
 14  Medal   30181 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 3.7+ MB

In [16]:
df['Sport'].value_counts()

Athletics                    3648
Swimming                     2486
Rowing                       2104
Ice Hockey                   1301
Hockey                       1168
Gymnastics                   1161
Fencing                      1109
Football                     1084
Canoeing                     1041
Basketball                   1000
Wrestling                     967
Volleyball                    958
Handball                      937
Cycling                       845
Water Polo                    764
Boxing                        708
Cross Country Skiing          687
Sailing                       677
Equestrianism                 663
Shooting                      542
Weightlifting                 532
Judo                          526
Speed Skating                 488
Biathlon                      388
Alpine Skiing                 354
Baseball                      333
Diving                        318
Bobsleigh                     283
Short Track Speed Skating     274
Figure Skating                249
Synchronized Swimming         214
Archery                       206
Luge                          178
Ski Jumping                   175
Tennis                        173
Softball                      172
Table Tennis                  163
Badminton                     154
Modern Pentathlon             153
Taekwondo                     144
Nordic Combined               137
Curling                       131
Rhythmic Gymnastics           124
Freestyle Skiing              102
Snowboarding                   89
Rugby Sevens                   74
Beach Volleyball               68
Triathlon                      30
Rugby                          30
Trampolining                   29
Skeleton                       24
Tug-Of-War                      8
Golf                            4
Lacrosse                        2
Art Competitions                2
Name: Sport, dtype: int64

In [18]:
df['Event'].value_counts()

Ice Hockey Men's Ice Hockey                                   1001
Football Men's Football                                        783
Hockey Men's Hockey                                            714
Basketball Men's Basketball                                    610
Water Polo Men's Water Polo                                    573
                                                              ...
Diving Men's Plain High                                          1
Canoeing Men's Folding Kayak Singles, 10 kilometres              1
Art Competitions Mixed Architecture, Architectural Designs       1
Athletics Men's All-Around Championship                          1
Tennis Men's Singles, Covered Courts                             1
Name: Event, Length: 562, dtype: int64

In [131]:
df_atletai = df[(df.Gender == 'M')]
df_atletes = df[(df.Gender == 'F')]

print('Vyru atletu :', df_atletai.shape)
print('Moteru atleciu:',df_atletes.shape)

Vyru atletu : (19831, 15)
Moteru atleciu: (10350, 15)

In [106]:
df_vas_atletai = df_atletai[(df_atletai.Season == 'Summer')]
df_zm_atletai = df_atletai[(df_atletai.Season == 'Winter')]
df_vas_atletes = df_atletes[(df_atletes.Season == 'Summer')]
df_zm_atletes = df_atletes[(df_atletes.Season == 'Winter')]

print('Vasaros zaidyniu atletai   : ', df_vas_atletai.shape)
print('Ziemos zaidyniu atletai  : ', df_zm_atletai.shape)
print('Vasaros zaidyniu atletes   : ', df_vas_atletes.shape)
print('Ziemos zaidyniu atletes   : ', df_zm_atletes.shape)

Vasaros zaidyniu atletai   :  (16676, 15)
Ziemos zaidyniu atletai  :  (3155, 15)
Vasaros zaidyniu atletes   :  (8665, 15)
Ziemos zaidyniu atletes   :  (1685, 15)

In [38]:
df['Age'].value_counts()

23.0    2742
24.0    2649
25.0    2558
22.0    2549
26.0    2378
27.0    2213
21.0    2140
28.0    1948
29.0    1553
20.0    1550
30.0    1256
19.0    1025
31.0     950
32.0     760
18.0     644
33.0     558
34.0     453
17.0     399
35.0     295
16.0     284
36.0     241
37.0     160
15.0     155
38.0     122
39.0      94
40.0      90
41.0      58
42.0      55
14.0      53
46.0      41
44.0      37
43.0      33
45.0      26
52.0      18
49.0      15
47.0      15
48.0      14
13.0      10
50.0       9
54.0       5
56.0       5
51.0       5
58.0       3
55.0       3
60.0       3
61.0       2
53.0       2
59.0       1
66.0       1
57.0       1
Name: Age, dtype: int64

In [30]:
df.mean(numeric_only=True)['Age']

25.42901162983334

In [49]:
df['Age'].max()

66.0

In [76]:
df[df['Age'] == 66].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
173379,87135,Louis Noverraz,M,66.0,179.0,78.0,Switzerland,SUI,1968 Summer,1968,Summer,Mexico City,Sailing,Sailing Mixed 5.5 metres,Silver

In [50]:
df['Age'].min()

13.0

In [81]:
df[df['Age'] == 13].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
44972,23192,Robin Marie Corsiglia (-Scholefield),F,13.0,157.0,45.0,Canada,CAN,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Bronze
52010,26731,Donna Elizabeth de Varona (-Pinto),F,13.0,168.0,61.0,United States,USA,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
63524,32552,"Kornelia Ender (-Matthes, -Grummt)",F,13.0,172.0,59.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Silver
63525,32552,"Kornelia Ender (-Matthes, -Grummt)",F,13.0,172.0,59.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 200 metres Individual Medley,Silver
63526,32552,"Kornelia Ender (-Matthes, -Grummt)",F,13.0,172.0,59.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Silver

In [32]:
df['Height'].value_counts()

180.0    1715
178.0    1531
170.0    1469
183.0    1412
175.0    1379
         ...
141.0       3
220.0       3
137.0       2
138.0       1
219.0       1
Name: Height, Length: 86, dtype: int64

In [34]:
df.mean(numeric_only=True)['Height']

177.64235777475895

In [55]:
df['Height'].max()

223.0

In [84]:
df[df['Height'] == 223.0].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
32376,16639,Tommy Loren Burleson,M,20.0,223.0,102.0,United States,USA,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,Silver
207373,104059,Arvydas Romas Sabonis,M,23.0,223.0,122.0,Soviet Union,URS,1988 Summer,1988,Summer,Seoul,Basketball,Basketball Men's Basketball,Gold
207374,104059,Arvydas Romas Sabonis,M,27.0,223.0,122.0,Lithuania,LTU,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,Bronze
207375,104059,Arvydas Romas Sabonis,M,31.0,223.0,122.0,Lithuania,LTU,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Men's Basketball,Bronze

In [56]:
df['Height'].min()

136.0

In [88]:
df[df['Height'] == 136.0].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
69216,35292,Mariya Yevgenyevna Filatova (-Kurbatova),F,14.0,136.0,30.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Team All-Around,Gold
69222,35292,Mariya Yevgenyevna Filatova (-Kurbatova),F,19.0,136.0,30.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Team All-Around,Gold
69225,35292,Mariya Yevgenyevna Filatova (-Kurbatova),F,19.0,136.0,30.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Uneven Bars,Bronze
143279,71914,Lu Li,F,15.0,136.0,30.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Gymnastics,Gymnastics Women's Uneven Bars,Gold
143280,71914,Lu Li,F,15.0,136.0,30.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Gymnastics,Gymnastics Women's Balance Beam,Silver

In [35]:
df['Weight'].value_counts()

70.0     1254
75.0     1171
68.0      941
80.0      930
73.0      909
         ...
100.5       1
31.0        1
135.5       1
154.0       1
133.0       1
Name: Weight, Length: 183, dtype: int64

In [36]:
df.mean(numeric_only=True)['Weight']

73.75355356018687

In [70]:
df['Weight'].max()

182.0

In [89]:
df[df['Weight'] == 182.0].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
237040,118869,"Christopher J. ""Chris"" Taylor",M,22.0,196.0,182.0,United States,USA,1972 Summer,1972,Summer,Munich,Wrestling,"Wrestling Men's Super-Heavyweight, Freestyle",Bronze

In [68]:
df['Weight'].min()

28.0

In [90]:
df[df['Weight'] == 28.0].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
256836,128605,Wang Xin (Ruoxue-),F,15.0,137.0,28.0,China,CHN,2008 Summer,2008,Summer,Beijing,Diving,Diving Women's Platform,Bronze
256837,128605,Wang Xin (Ruoxue-),F,15.0,137.0,28.0,China,CHN,2008 Summer,2008,Summer,Beijing,Diving,Diving Women's Synchronized Platform,Gold

# Aukso medaliu analize

In [133]:
goldMedals = df[(df.Medal == 'Gold')]

In [134]:
goldMedals.sample(3)

,ID,Name,Gender,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
30176,15580,"Ronald James ""Ron"" Brown",M,23.0,180.0,84.0,United States,USA,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Men's 4 x 100 metres Relay,Gold
142360,71423,Marc Lpez i Tarrs,M,34.0,175.0,71.0,Spain-2,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Tennis,Tennis Men's Doubles,Gold
191945,96376,Yelena Aleksandrovna Posevina,F,18.0,176.0,56.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Gold

In [135]:
goldMedals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10167 entries, 42 to 271076
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10167 non-null  int64
 1   Name    10167 non-null  object
 2   Gender  10167 non-null  object
 3   Age     10167 non-null  float64
 4   Height  10167 non-null  float64
 5   Weight  10167 non-null  float64
 6   Team    10167 non-null  object
 7   NOC     10167 non-null  object
 8   Games   10167 non-null  object
 9   Year    10167 non-null  int64
 10  Season  10167 non-null  object
 11  City    10167 non-null  object
 12  Sport   10167 non-null  object
 13  Event   10167 non-null  object
 14  Medal   10167 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.2+ MB

In [136]:
goldMedals.describe()

                  ID           Age        Height        Weight          Year
count   10167.000000  10167.000000  10167.000000  10167.000000  10167.000000
mean    70278.370906     25.330678    177.997246     74.134110   1986.836235
std     39096.901002      5.020578     11.107924     15.175849     23.971158
min        17.000000     13.000000    136.000000     28.000000   1896.000000
25%     36963.000000     22.000000    170.000000     63.000000   1972.000000
50%     69800.000000     25.000000    178.000000     73.000000   1992.000000
75%    104812.000000     28.000000    185.000000     83.000000   2004.000000
max    135553.000000     59.000000    223.000000    170.000000   2016.000000

In [115]:
goldMedals['ID'][goldMedals['Age']<18].count() # Jaunesni nei 18 metu

344

In [116]:
goldMedals['ID'][goldMedals['Age'] > 50].count()# Vyresni nei 50 metu

14

In [119]:
goldMedals.NOC.value_counts().reset_index(name='Medal').head(15)

   index  Medal
0    USA   2115
1    URS    982
2    GER    547
3    GDR    396
4    RUS    379
5    CAN    362
6    CHN    350
7    GBR    330
8    AUS    319
9    ITA    315
10   HUN    289
11   FRA    285
12   JPN    226
13   NED    218
14   SWE    197

In [151]:
gold_pagal_kg = goldMedals.loc[goldMedals['Weight'] == 68]

In [152]:
gold_pagal_kg ['Sport'].value_counts()

Athletics                    44
Swimming                     38
Football                     18
Sailing                      14
Cycling                      12
Gymnastics                   12
Wrestling                    12
Cross Country Skiing         11
Basketball                   11
Nordic Combined              10
Hockey                       10
Equestrianism                10
Canoeing                      9
Alpine Skiing                 8
Biathlon                      7
Fencing                       7
Rowing                        6
Volleyball                    5
Shooting                      5
Ice Hockey                    4
Water Polo                    4
Short Track Speed Skating     4
Taekwondo                     4
Handball                      4
Modern Pentathlon             3
Curling                       3
Weightlifting                 3
Badminton                     2
Snowboarding                  2
Softball                      1
Baseball                      1
Speed Skating                 1
Judo                          1
Figure Skating                1
Ski Jumping                   1
Luge                          1
Archery                       1
Name: Sport, dtype: int64

In [144]:
gold_pagal_cm = goldMedals.loc[goldMedals['Height'] == 176]

In [146]:
gold_pagal_cm ['Sport'].value_counts()

Athletics                    40
Canoeing                     22
Fencing                      22
Football                     22
Ice Hockey                   19
Swimming                     18
Hockey                       16
Handball                     12
Rowing                       12
Equestrianism                11
Shooting                     11
Cycling                      10
Sailing                      10
Rhythmic Gymnastics           9
Biathlon                      8
Wrestling                     7
Cross Country Skiing          7
Volleyball                    6
Alpine Skiing                 5
Weightlifting                 4
Baseball                      4
Boxing                        4
Modern Pentathlon             3
Tennis                        3
Water Polo                    3
Synchronized Swimming         3
Table Tennis                  3
Speed Skating                 3
Short Track Speed Skating     2
Bobsleigh                     2
Ski Jumping                   2
Curling                       1
Art Competitions              1
Freestyle Skiing              1
Nordic Combined               1
Luge                          1
Gymnastics                    1
Taekwondo                     1
Figure Skating                1
Badminton                     1
Name: Sport, dtype: int64

In [ ]:
# df[ df['Gender'] == 'F' ].groupby('Sport').sum()[ ['Medal'] ]