# List comprehension

In [1]:
numbers = list(range(1,21) )
dividible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)

print (dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [2]:
dividible_by_3 = [ number for number in numbers if number % 3 ==0 ]
print (dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [3]:
dividible_by_3 = [ number * 10 for number in numbers if number % 4 ==0 ]
print (dividible_by_3)

[40, 80, 120, 160, 200]

In [4]:
dividible_by_3 = [ number if number %3 ==0 else f'{number} nesidalina is 3' for number in range(1,21) ]
print (dividible_by_3)

['1 nesidalina is 3', '2 nesidalina is 3', 3, '4 nesidalina is 3', '5 nesidalina is 3', 6, '7 nesidalina is 3', '8 nesidalina is 3', 9, '10 nesidalina is 3', '11 nesidalina is 3', 12, '13 nesidalina is 3', '14 nesidalina is 3', 15, '16 nesidalina is 3', '17 nesidalina is 3', 18, '19 nesidalina is 3', '20 nesidalina is 3']

In [5]:
dividible_by_3 = [ number * 2 for number in numbers ]
print (dividible_by_3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

# None a.k.a null, not number

In [6]:
niekas = None
print (niekas)
print (type(niekas))

None
<class 'NoneType'>

In [7]:
import random

vardas = ''

if random.random() > 0.5:
    vardas = input('Iveskite varda:')

if vardas != '':
    print(f'Sveikas{vardas}!')

In [8]:
import random

vardas = None

if random.random() > 0.5:
    vardas = input('Iveskite vardą:')

if vardas != None and vardas != '':
    print(f'Sveikas {vardas}!')
elif vardas != None and vardas == '':
    print(f'Nepavyko nuskaityti jusu vardo. Bandykite dar karta')
else:
    print('Jus nenurodete savo vardo')

Sveikas Ingrida!

In [2]:
list_1 = [1]
print (list_1.append(100) )
print ( list_1 )
print ( list_1.count(1 ) )

None
[1, 100]
1

# Dictionary

In [3]:
me = {
    'vardas': 'Ingrida',
    'pavarde':  'Masyte',
    'amzius': 32
}
print (me)

{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32}

In [4]:
me[0]

KeyError: 0

In [5]:
print (me[ 'vardas' ])
print (me[ 'pavarde' ])
print (me[ 'amzius' ])

Ingrida
Masyte
32

In [6]:
me [ 'miestas' ] = 'Pabaiskas'
print (me)

{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas'}

In [7]:
me [ 'hobiai' ] = [ 'sportas', 'krepsinis' ]
print (me)

{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}

In [8]:
someone = {
    True: 'tiesa',
    False: 'netiesa',
    None: 'none verte'
}
print ( someone[True] )
print ( someone[False] )
print ( someone[None] )

tiesa
netiesa
none verte

In [9]:
me['neegzistuojantis raktas']

KeyError: 'neegzistuojantis raktas'

In [10]:
zmones = [
    {'vardas': 'Jonas', 'amzius': 35},
    {'vardas': 'Petras', 'amzius': 50},
    {'vardas': 'Mantas', 'amzius': 40}
]
print(zmones)
print( zmones[0] )
print( zmones[0]['vardas'] )

print('for loop')
for zmogus in zmones:
    print( zmogus['vardas'] )

[{'vardas': 'Jonas', 'amzius': 35}, {'vardas': 'Petras', 'amzius': 50}, {'vardas': 'Mantas', 'amzius': 40}]
{'vardas': 'Jonas', 'amzius': 35}
Jonas
for loop
Jonas
Petras
Mantas

In [11]:
print(me)
print( len(me) )

{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}
5

In [10]:
me = {'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}
print (me)
print (me.pop('amzius') )
print(me)
del me['miestas']
print (me)

{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}
32
{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}
{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'hobiai': ['sportas', 'krepsinis']}

# Dictionary is mutable.be carefull

In [12]:
print (me)

{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}

In [15]:
# me.clear()
me = {'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}
print( me.popitem() )
print (me)
print( me.popitem() )
print (me)

('hobiai', ['sportas', 'krepsinis'])
{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas'}
('miestas', 'Pabaiskas')
{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32}

In [19]:
me = {'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}

# me ['neegzistuojantis raktas'] # klaida
print (me.get('neegzistuojantis raktas' ) ) # nera klaidos
print (me.get('neegzistuojantis raktas', 'nerastas') )
print (me.get('neegzistuojantis raktas', 0) )

print (me.get('amzius', 0) )

None
nerastas
0
32

In [21]:
me = {'vardas': 'Ingrida', 'pavarde': 'Masyte'}
updated_info = {'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}
print (me)

# me['vardas'] = updated_info['vardas']
me.update( updated_info)

print (me)
# negali buti 2 vienodi raktazodziai

{'vardas': 'Ingrida', 'pavarde': 'Masyte'}
{'vardas': 'Ingrida', 'pavarde': 'Masyte', 'amzius': 32, 'miestas': 'Pabaiskas', 'hobiai': ['sportas', 'krepsinis']}

In [16]:
for value in me.values():
    print ( value )

Ingrida
Masyte
32
Pabaiskas
['sportas', 'krepsinis']

In [25]:
# 
for key in me.keys():
    print ( key )

vardas
pavarde
amzius
miestas
hobiai

In [15]:
for key, value in me.items():
    print (f"key is '{key}' with a value of: {value}")

key is 'vardas' with a value of: Ingrida
key is 'pavarde' with a value of: Masyte
key is 'amzius' with a value of: 32
key is 'miestas' with a value of: Pabaiskas
key is 'hobiai' with a value of: ['sportas', 'krepsinis']

In [22]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}

In [23]:
twitter_post[ "user" ][ 'friends_count' ]

125

In [27]:
# Uzduotys
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print ( car [ 'brand' ] )
print (len (car) )
car['year' ] = 2022
print (car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [28]:
car.update( {'color': 'red', 'used' : True} )
print (car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [29]:
car.pop('brand')
car['year'] = None
print (car)

{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

In [31]:
print ('model' in car)
print ('brand' in car)
print ('red' in car)
print ('red' in car.values() )

True
False
False
True

# Set

In [36]:
my_set = {100,1,2,3,4,1,1,1,1,'a','b','b','b'}
print (my_set)

{1, 2, 3, 100, 4, 'a', 'b'}

In [32]:
my_list = {100,1,2,3,4,1,1,1,1,'a','b','b','b'}
my_list = list( set(my_list) )
print (my_list)

[1, 2, 3, 100, 4, 'a', 'b']

In [37]:
print(4 in my_set)
print(5 in my_set)

True
False

In [38]:
print (len(my_set) )

7

In [40]:
my_set = {100,1,2,3,4,1,1,1,1,'a','b','b','b'}
print (my_set)
my_set.add(5)
my_set.add(1)
print (my_set)
my_set.update( [111,222] )
print (my_set)

{1, 2, 3, 100, 4, 'a', 'b'}
{1, 2, 3, 100, 4, 'a', 5, 'b'}
{1, 2, 3, 4, 5, 'b', 222, 'a', 100, 111}

In [42]:
my_set = {100,1,2,3,4,1,1,1,1,'a','b','b','b'}
print (my_set)
print (my_set.pop() )
print (my_set.pop() )
print (my_set)

{1, 2, 3, 100, 4, 'a', 'b'}
1
2
{3, 100, 4, 'a', 'b'}

In [32]:
my_set = {100,1,2,3,4,1,1,1,1,'a','b','b','b'}
print (my_set)
my_set.remove(4)
print (my_set)

{1, 2, 3, 100, 4, 'b', 'a'}
{1, 2, 3, 100, 'b', 'a'}

In [45]:
my_set = {100,1,2,3,4,1,1,1,1,'a','b','b','b'}
print (my_set)
my_set.discard(4)
print (my_set)
my_set.discard(4)
my_set.discard(4)
my_set.discard(4)
my_set.discard(4)
my_set.discard(4)
print (my_set)

{1, 2, 3, 100, 4, 'a', 'b'}
{1, 2, 3, 100, 'a', 'b'}
{1, 2, 3, 100, 'a', 'b'}

In [49]:
my_set_1 = {1,3,5,7}
my_set_2 = {4,5,6,7,8,9}

print( my_set_1.union( my_set_2 ) )

print( my_set_1.difference( my_set_2 ) )
print( my_set_2.difference( my_set_1 ) )

print( my_set_1.intersection( my_set_2 ) )

{1, 3, 4, 5, 6, 7, 8, 9}
{1, 3}
{8, 9, 4, 6}
{5, 7}

In [53]:
small_set = {2,4}
big_set = {3,2,3,4,5}

print ( small_set.issubset(big_set) )
print ( big_set.issubset(small_set) )
print ( big_set.issuperset(small_set) )
print ( small_set.issuperset(big_set) )

True
False
True
False

In [1]:
# Uzduotys
fruits = { "apple","banana","cherry" }
fruits.add( ("lemon",5) )
print ( fruits )

{('lemon', 5), 'apple', 'cherry', 'banana'}

In [55]:
fruits = { "apple","banana","cherry" }
fruits.discard('apple')
print (fruits)
fruits.add('watermelon')
print (fruits)

{'cherry', 'banana'}
{'cherry', 'banana', 'watermelon'}

In [61]:
fruits = { "apple","banana","cherry" }
fruits.add('watermelon')
fruits.update( ['pie', 'pineapple', 'coconut', 'tangerine', 'melon'] )
print (fruits)
fruits.discard('apple')
print (fruits)
print (len(fruits) )
fruits.add('watermelon')
print (fruits)
print (len(fruits) )

{'pineapple', 'banana', 'tangerine', 'watermelon', 'melon', 'apple', 'pie', 'coconut', 'cherry'}
{'pineapple', 'banana', 'tangerine', 'watermelon', 'melon', 'pie', 'coconut', 'cherry'}
8
{'pineapple', 'banana', 'tangerine', 'watermelon', 'melon', 'pie', 'coconut', 'cherry'}
8