In [1]:
name = 'Ingrida'
number_str = '5'

In [2]:
print('1991'.isdigit() )

True

In [4]:
# String operations
'Ingrida' +' '+ 'Masyte'

'Ingrida Masyte'

In [ ]:
'Ingrida' - '1' # atimti negalima

In [5]:
'hi' * 100

'hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi'

In [6]:
'hi' / 100  # neveikia dalyba

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [9]:
#  String formating.f-string
name = 'Ingrida'
surname = 'Masyte'
number = '32'
print( name + ' ' + surname + ', nice to meet you!' Your number is ' + str(number) )

SyntaxError: unterminated string literal (detected at line 5) (4005316567.py, line 5)

In [11]:
# F-string
print( f'{name} {surname},nice to meet you!Your number is {number}' )

Ingrida Masyte,nice to meet you!Your number is 32

In [13]:
# Numbers
number = 423
float_number = 1.5
print( type(number) )
print( type(float_number) )
print( type(number_text) )

<class 'int'>
<class 'float'>

NameError: name 'number_text' is not defined

In [18]:
# Operators
suma = number + float_number
print(suma)
print(type(suma))
print(10 - 5 )
print(10 * 5 )
print(10 / 5 )

print(10 // 3 )      #sveika dalis dalybos

424.5
<class 'float'>
5
50
2.0
3

In [22]:
print( 'dalybos liekana' )
print(14 % 3 )
print(13 % 3 )
print(12 % 3 )
print(15 % 3 )

print(' lyginis ar ne' )
print(11 % 2 )

dalybos liekana
2
1
0
0
 lyginis ar ne
1

In [23]:
print('kelimas laipsniu' )
print( f'{2}^{2} = {2 ** 2}'  )

kelimas laipsniu
2^2 = 4

In [24]:
suma = 0
kaina_1 = 5.4
kaina_2 = 4.2
suma = suma + kaina_1
suma = suma + kaina_2
print ( suma )

9.600000000000001

In [25]:
suma = 0
suma += kaina_1
suma += kaina_2
print( suma )

9.600000000000001

In [ ]:
sandauga = 1
sandauga *= kaina_1
sandauga *= kaina_2
print ( f 'sandauga:')

In [32]:
# Pirma uzduotis
suma = 0
skaicius_1 = 10
skaicius_2 = 2
suma = skaicius_1 + skaicius_2
print( suma )
suma = skaicius_1 - skaicius_2
print( suma )
suma = skaicius_1 * skaicius_2
print( suma )
suma = skaicius_1 / skaicius_2
print( suma )
suma = skaicius_1 % skaicius_2
print( suma )

12
8
20
5.0
0

In [ ]:
# Antra uzduotis
float_1 =

In [ ]:
# Trecia uzduotis

In [37]:
year = 1991
year_passed = ( 2023 - year) * 365
print( year_passed )

from datetime import date
d0 = date(1991, 2, 9)
d1 = date.today()
delta = d1 - d0
print(delta.days)

11680
11687

In [39]:
# Boolean
bool_true = True
print(bool_true)
print(type(bool_true))
bool_true = bool(1)
print(bool_true)
bool_false

True
<class 'bool'>
True

In [40]:
print( bool( 1) )
print( bool( 2 ) )
print( bool(0.0001 ) )

True
True
True

In [41]:
print ( 2 < 5 )
print ( 10 < 5 )
print ( 2 > 5 )

True
False
False

In [43]:
text = 'Hello world'
bool_text = 'd' in text
print (bool_text)
print('D' in text)
print(text.islower())
print

True
False
False

In [44]:
print( bool('') )   #+
print( bool(' ') )
print( bool('adfghna') )

False
True
True

In [45]:
print ( not True )
print ( not not True )

False
True

In [ ]:
print ('and')

In [ ]:
# Boolean uzduotys
# Pirma uzduotis

In [47]:
# List
cities = ['Vilnius', 'Kaunas', 'Klaipeda' ]
print ( cities )
print (cities[0] )
print( type(cities) )

['Vilnius', 'Kaunas', 'Klaipeda']
Vilnius
<class 'list'>

In [48]:
numbers = [ 15,654,769,238,'5' ]
print (type( numbers[0] ) )
print (type( numbers[-2] ) )

<class 'int'>
<class 'int'>

In [49]:
numbers = [ 154,44,33 ]
print (numbers)

[154, 44, 33]

In [ ]:
numbers.append

In [ ]:
numbers.count

In [51]:
numbers = [ 154,44,33 ]
numbers.append( 51 )
print( numbers )
numbers.append( [100, 100] )
print( numbers )
print( numbers[-1] )
print(len( numbers ) )

numbers.extend( [100, 100] )
print( numbers )
print(len( numbers) )
print( numbers )

[154, 44, 33, 51]
[154, 44, 33, 51, [100, 100]]
[100, 100]
5
[154, 44, 33, 51, [100, 100], 100, 100]
7

In [52]:
numbers.index(100)

5

In [54]:
numbers.insesrt(1 , 500)
print (numbers)

AttributeError: 'list' object has no attribute 'insesrt'

In [55]:
print(numbers)
print(numbers.pop() )
print(numbers)

[154, 44, 33, 51, [100, 100], 100, 100]
100
[154, 44, 33, 51, [100, 100], 100]

In [56]:
print(numbers)
print(numbers.remove(500) ) # klaida jei neegzistuoja
print(numbers)

[154, 44, 33, 51, [100, 100], 100]

ValueError: list.remove(x): x not in list

In [60]:
nested_list = [654, [[[48, [['65']]], 57]]]
print(nested_list)
print (len(nested_list) )
print (nested_list[1] )

[654, [[[48, [['65']]], 57]]]
2