# Mutable and immutable variables

In [1]:
# immutable variable:
a = 1
b = a
print ('pries')
print( id(a) )
print( id(b) )
b += 5
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
140732287738664
140732287738664
po
140732287738664
140732287738824
1
6

In [2]:
# mutable variable:
a = [1,2,3]
b = a
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2320210558144
2320210558144
po
2320210558144
2320210558144
[1, 2, 3, 10]
[1, 2, 3, 10]

In [4]:
# fixing mutable variable #1
a = [1,2,3]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2320210867968
2320188363392
po
2320210867968
2320188363392
[1, 2, 3]
[1, 2, 3, 10]

In [3]:
# where fix #1 doesn't work
a = [1,2, [ 'a', 'b' ] ]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2320210866304
2320210867136
po
2320210866304
2320210867136
[1, 2, ['a', 'b', 'c']]
[1, 2, ['a', 'b', 'c']]

In [5]:
# fixing mutable variable #2
import copy
a = [1,2, [ 'a', 'b' ] ]
b = copy.deepcopy(a)
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2320210866240
2320210866304
po
2320210866240
2320210866304
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 'c']]

# Tuple

In [6]:
my_tuple = ( 1,5,'b')

In [ ]:
print (type(my_tuple) )
print (type)

In [ ]:
print (my_tuple)

In [7]:
print (my_tuple[1])
print (my_tupl

5

In [ ]:
my_tuple = ()

In [8]:
print (my_tuple.count(1) )

1

In [9]:
print (my_tuple.index(54) )

ValueError: tuple.index(x): x not in tuple

In [12]:
print (len(my_tuple) )
print ( 100 in my_tuple )
print ( 1 in my_tuple)

3
False
True

In [15]:
my_list = list( my_tuple )
print (my_list)
print (type(my_list) )
print (my_tuple)

my_tuple

[1, 5, 'b']
<class 'list'>
(1, 5, 'b')

In [25]:
# Uzduotys
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print (my_tuple)
print (my_tuple[3][1][1] )

(1, 2, ['3', 4, 5], [6, [7, 8]])
8

In [29]:
tuple1 = (11, [222, 33], 44, 55)
list1 = list(tuple1)
print (list1)
list1[1][1] = 22
tuple1 = tuple(list1)
print(tuple1)

[11, [222, 33], 44, 55]
(11, [222, 22], 44, 55)

In [31]:
tuple1 = (11, [222, 33], 44, 55)
tuple1[1][1] = 22
print (tuple1)

(11, [222, 22], 44, 55)

In [37]:
tuple2 = (1, 2, 76, 6)
tuple3 = (88, 3, 1, 1)
tuple_new = tuple2 + tuple3
print(tuple_new)
list_new = list(tuple_new)
list_new.pop(-1)
tuple_new = tuple(list_new)
print(tuple_new)
list_new = list(tuple_new)
list_new.sort()
tuple_new = tuple(list_new)
print(tuple_new)
print(tuple_new.count(1))
print(tuple_new[-1])
print ( max (tuple_new ) )

(1, 2, 76, 6, 88, 3, 1, 1)
(1, 2, 76, 6, 88, 3, 1)
(1, 1, 2, 3, 6, 76, 88)
2
88
88

# Range

In [43]:
print ( range(10) )
print ( type ( range(10) ) )
print ( list( range(10) ) )
print ( list( range(-5, 10) ) )
print ( list( range(-5, 10, 3) ) )
print ( list( range(100, -32, -15) ) )
# range (start, end, step)

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -2, 1, 4, 7]
[100, 85, 70, 55, 40, 25, 10, -5, -20]

# For Loop (for ciklas)

In [47]:
miestai = ['Vlnius', 'Kaunas', 'Klaipeda']

# for <sugalvotas zodis> in <sarasas/tuple/tekstas/range>:
for miestas in miestai:
    print(miestas)
    print(miestai)
    print(f'{miestas} yra nuostabus miestas')
print('pabaiga')

Vlnius
['Vlnius', 'Kaunas', 'Klaipeda']
Vlnius yra nuostabus miestas
Kaunas
['Vlnius', 'Kaunas', 'Klaipeda']
Kaunas yra nuostabus miestas
Klaipeda
['Vlnius', 'Kaunas', 'Klaipeda']
Klaipeda yra nuostabus miestas
pabaiga

In [48]:
for x in miestai:
    print(f'{x} yra nuostabus miestas')

Vlnius yra nuostabus miestas
Kaunas yra nuostabus miestas
Klaipeda yra nuostabus miestas

In [49]:
for number in range(3,46,4):
    print (number**2)

9
49
121
225
361
529
729
961
1225
1521
1849

In [53]:
mokejimai = [ 13.4, 146.45, 546,54]

sandauga = 1
suma = 0
for mokejimas in mokejimai:
    suma += mokejimas
    print( f'tarpine suma: {suma}')
print( f'galutine suma: {suma}')
print( f'galutine sandauga: {sandauga}')

tarpine suma: 13.4
tarpine suma: 159.85
tarpine suma: 705.85
tarpine suma: 759.85
galutine suma: 759.85
galutine sandauga: 1

In [54]:
print( sum(mokejimai) )

759.85

In [4]:
human_input = input('Koks jusu vardas')

In [3]:
print( human_input )

In [69]:
human_input = ('Irasykite skaiciu nuo 1 iki 10')

In [70]:
print ( human_input )

Irasykite skaiciu nuo 1 iki 10

In [58]:
# Uzduotys
for skaicius in range (1,11):
    print(skaicius)

print ('antra dalis')
suma = 0
for skaicius in range (1,51):
    # suma = suma + skaicius
    suma += skaicius
print(suma)

1
2
3
4
5
6
7
8
9
10

In [7]:
skaicius = input('iveskite skaiciu')
print( type(skaicius) )
skaicius = int( skaicius )
print( skaicius)
print( type(skaicius) )

for x in range(1,11):
    print(f'{skaicius}x{x} = {skaicius*x}')

<class 'str'>

ValueError: invalid literal for int() with base 10: ''

In [64]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for diena in dienos:
    # print(diena)
    for valanda in valandos:
        # print(valanda)
        kombinacijos.append( (diena, valanda) )
        # print('mazo ciklo pabaiga')
    # print('didelio ciklo pabaiga')

print (kombinacijos)

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

 # If deklaracija

In [1]:
x = int( input('iveskite skaiciu:') )
print( x )

if x % 2 == 0:
    print('lyginis')
else:
    print('nelyginis')

ValueError: invalid literal for int() with base 10: ''

In [8]:
# Uzduotys
for skaicius in range (1,21):
    print(skaicius)
    if skaicius % 3 == 0:

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
suma = 0
for skaicius in range (1,51):
    print(skaicius)
    if (suma + skaicius) % 2 == 0:
       print('suma dalinasi is 2')
       suma += skaicius
       print(suma)

1
2
suma dalinasi is 2
2
3
4
suma dalinasi is 2
6
5
6
suma dalinasi is 2
12
7
8
suma dalinasi is 2
20
9
10
suma dalinasi is 2
30
11
12
suma dalinasi is 2
42
13
14
suma dalinasi is 2
56
15
16
suma dalinasi is 2
72
17
18
suma dalinasi is 2
90
19
20
suma dalinasi is 2
110
21
22
suma dalinasi is 2
132
23
24
suma dalinasi is 2
156
25
26
suma dalinasi is 2
182
27
28
suma dalinasi is 2
210
29
30
suma dalinasi is 2
240
31
32
suma dalinasi is 2
272
33
34
suma dalinasi is 2
306
35
36
suma dalinasi is 2
342
37
38
suma dalinasi is 2
380
39
40
suma dalinasi is 2
420
41
42
suma dalinasi is 2
462
43
44
suma dalinasi is 2
506
45
46
suma dalinasi is 2
552
47
48
suma dalinasi is 2
600
49
50
suma dalinasi is 2
650

In [5]:
pasirinktas_skaicius = int( input('iveskite skaiciu') )

if (pasirinktas_skaicius ** 2) % 2 != 0:
    for i in range(1,11):
        print( pasirinktas_skaicius * i )
else:
    print( 'pasirinktas skaiƒçius pakeltas kvadratu yra lyginis' )

ValueError: invalid literal for int() with base 10: ''