# Strings

In [1]:
name = 'Ingrida'
number_str = '5'

In [5]:
print('1991'.isdigit() )
print('1991 '.isdigit() )
print('1991 ')
print('1991 '.strip() )
print('1991 '.strip().isdigit() )

True
False
1991
1991
True

# String operations

In [4]:

'Ingrida' +' '+ 'Masyte'

'Ingrida Masyte'

In [ ]:
'Ingrida' - '1' # atimti negalima

In [5]:
'hi' * 100

'hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi'

In [6]:
'hi' / 100  # neveikia dalyba

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [17]:
#  String formating.f-string
name = 'Ingrida'
surname = 'Masyte'
number = 32
print( 'name + ' ' + surname + ', nice to meet you! Your number is  + str(number) )

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1190939276.py, line 5)

In [18]:
# F-string
print( f'{name} {surname}, nice to meet you! Your number is {number}' )

NameError: name 'name' is not defined

# Numbers

In [103]:

number = 423
number_text = '43'
float_number = 1.5
print( type(number) )
print( type(float_number) )
print( type(number_text) )

<class 'int'>
<class 'float'>
<class 'str'>

# Operators

In [19]:

suma = number + float_number
print(suma)
print(type(suma))
print(10 - 5 )
print(10 * 5 )
print(10 / 5 )

print( 'dalybos sveikoji dalis')
print(10 // 3 )      #sveika dalis dalybos

424.5
<class 'float'>
5
50
2.0
dalybos sveikoji dalis
3

In [104]:
print( 'dalybos liekana' )
print(14 % 3 )
print(13 % 3 )
print(12 % 3 )
print(15 % 3 )

print(' lyginis ar ne' )
print(11 % 2 )

dalybos liekana
2
1
0
0
 lyginis ar ne
1

In [20]:
print('kelimas laipsniu' )
print( f'{2}^{2} = {2 ** 2}'  )
print( f'{2}^{3} = {2 ** 3}' )

kelimas laipsniu
2^2 = 4
2^3 = 8

In [22]:
suma = 0
kaina_1 = 5.4
kaina_2 = 4.2
suma = suma + kaina_1
suma = suma + kaina_2
print ( suma )

9.600000000000001

In [25]:
suma = 0
suma += kaina_1
suma += kaina_2
print( suma )

9.600000000000001

In [24]:
sandauga = 1
sandauga *= kaina_1
sandauga *= kaina_2
print ( f'sandauga: (sandauga)')

sandauga: (sandauga)

In [25]:
skaicius = 4
skaicius **= 2
skaicius **= 2
print (skaicius)

256

In [32]:
# Pirma uzduotis
suma = 0
skaicius_1 = 10
skaicius_2 = 2
suma = skaicius_1 + skaicius_2
print( suma )
suma = skaicius_1 - skaicius_2
print( suma )
suma = skaicius_1 * skaicius_2
print( suma )
suma = skaicius_1 / skaicius_2
print( suma )
suma = skaicius_1 % skaicius_2
print( suma )

12
8
20
5.0
0

In [29]:
# Antra uzduotis
float_1 = 5.5
float_2 = 10.54
print (float_1 + float_2)
print (float_1 - float_2)
print (float_1 * float_2)
print (float_1 / float_2)
print (float_1 % float_2)

16.04
-5.039999999999999
57.97
0.5218216318785579
5.5

In [35]:
# Trecia uzduotis
dist_sum = 150_000_000 
dist_moon = 384_000

speed_per_hour = 150
print(f'Atstumas iki saules yra {dist_sum / dist_moon} kartu didesnis nei atstumas iki menulio ')

day = speed_per_hour * 24
month = day * 30
year = month * 12
minutes = speed_per_hour/60
seconds = minutes/60

print(dist_moon/speed_per_hour)
print(dist_moon/day)
print(dist_moon/month)
print(dist_moon/year)
print(dist_moon/minutes)
print(dist_moon/seconds)

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963
153600.0
9216000.0

In [105]:
year = 1991
year_passed = ( 2023 - year) * 365
print( year_passed )

from datetime import date
d0 = date(1991, 2, 9)
d1 = date.today()
delta = d1 - d0
print(delta.days)

11680
11688

# Boolen

In [38]:
# Boolen
bool_true = True
print(bool_true)
print(type(bool_true))
bool_true = bool(1)
print(bool_true)
bool_false = False
print(type(bool_false))
print(bool_false)

print( int(bool_true) )
print( int(bool_false) )

True
<class 'bool'>
True
<class 'bool'>
False
1
0

In [40]:
print( bool( 1) )
print( bool( 2 ) )
print( bool(0.0001 ) )
print( bool(-100) )
print( bool(0) ) # False tik 0 visa kita True

True
True
True
True
False

In [44]:
print ( 2 < 5 )
print ( 10 < 5 )
print ( 2 > 5 ) 
print ( 10 > 5 )
print ( 5 >= 5 )

print ( '5 == 5' )
print ( 5 == 5 )

print ( '5 != 5' )
print ( 5 != 5 )

True
False
False
True
True
5 == 5
True
5 != 5
False

In [46]:
text = 'Hello world'
bool_text = 'd' in text
print (bool_text)
print('D' in text)
print(text.islower())
print(text.lower().islower())

True
False
False
True

In [44]:
print( bool('') )   # False tik kai tuscias
print( bool(' ') )
print( bool('adfghna') )

False
True
True

In [45]:
print ( not True )
print ( not not True )

False
True

In [51]:
print ('and')
print (20 > 10 and 5 > 1)
print (20 > 10 and 5 > 10)
print ('or')
print (20 > 10 or 5 > 1)
print (20 > 10 or 5 > 10)
print (2 > 10 or 5 > 10)

and
True
False
or
True
True
False

In [60]:
# Boolean uzduotys
# Pirma uzduotis
print (10 > 5)
print ('a' in 'auto')
test = bool(1)
print(test)
print(bool('oo'))
print( not False )

print (10 < 5)
print ('A' in 'auto' )
test = bool(0)
print(test)
print(bool(''))
print( not True )

True
True
True
True
True
False
False
False
False
False

# List

In [64]:
# List
cities = ['Vilnius', 'Kaunas', 'Klaipeda' ]
print ( cities )
print (cities[0] )
print (type(cities) )
print (type(cities[0]) )
print (cities[-1])
print (cities[1:])
print (cities[:2])

['Vilnius', 'Kaunas', 'Klaipeda']
Vilnius
<class 'list'>
<class 'str'>
Klaipeda
['Kaunas', 'Klaipeda']
['Vilnius', 'Kaunas']

In [66]:
numbers = [ 15,654,769,238,'5' ]
print (type( numbers[0] ) )
print (type( numbers[-2] ) )
print (type(numbers[-1] ) )

<class 'int'>
<class 'int'>
<class 'str'>

In [67]:
numbers = [ 154,44,33 ]
print (numbers)
numbers.append( 51 )
print(numbers)

[154, 44, 33]
[154, 44, 33, 51]

In [68]:
numbers.append( 51 )
print(numbers)

[154, 44, 33, 51, 51]

In [69]:
numbers.count(51)

2

In [70]:
numbers = [ 154,44,33 ]
numbers.append( 51 )
print( numbers )
numbers.append( [100, 100] )
print( numbers )
print( numbers[-1] )
print(len( numbers ) )

numbers.extend( [100, 100] )
print( numbers )
print(len( numbers) )
print( numbers.count(100) )

[154, 44, 33, 51]
[154, 44, 33, 51, [100, 100]]
[100, 100]
5
[154, 44, 33, 51, [100, 100], 100, 100]
7
2

In [52]:
numbers.index(100)

5

In [73]:
numbers.insert(1 , 500)
print(numbers)

[154, 500, 44, 33, 51, [100, 100], 100, 100]

In [55]:
print(numbers)
print(numbers.pop() )
print(numbers)

[154, 44, 33, 51, [100, 100], 100, 100]
100
[154, 44, 33, 51, [100, 100], 100]

In [75]:
print(numbers)
print(numbers.remove(500) ) # klaida jei neegzistuoja skaicius
print(numbers)

[154, 44, 33, 51, [100, 100], 100, 100]

ValueError: list.remove(x): x not in list

# Nested_list

In [82]:
nested_list = [654, [[[48, [['65']]], 57]]]
print(nested_list)
print (len(nested_list) )
print (nested_list[1] )
print (nested_list[1])
print (len(nested_list[1] ))
print (nested_list[1][0] )
print (nested_list[1][0][0] )
print (nested_list[1][0][0][1] )
print (nested_list[1][0][0][1][0] )
print (nested_list[1][0][0][1][0][0] )

[654, [[[48, [['65']]], 57]]]
2
[[[48, [['65']]], 57]]
[[[48, [['65']]], 57]]
1
[[48, [['65']]], 57]
[48, [['65']]]
[['65']]
['65']
65

In [83]:
print(numbers)

[154, 44, 33, 51, [100, 100], 100, 100]

In [84]:
numbers.reverse()
print (numbers)

[100, 100, [100, 100], 51, 33, 44, 154]

In [86]:
# numbers [start:end:step]
numbers[::-1]

[154, 44, 33, 51, [100, 100], 100, 100]

In [90]:
numbers.sort()
print (numbers)
numbers.sort(reverse=True)
print (numbers)

TypeError: '<' not supported between instances of 'list' and 'int'

In [91]:
print (numbers)

[100, 100, [100, 100], 51, 33, 44, 154]

In [95]:
numbers = [51, 33, 44, 154]
print (sorted(numbers ) )
print (numbers)
print (sorted(numbers,reverse=True))
print (numbers)

[33, 44, 51, 154]
[51, 33, 44, 154]
[154, 51, 44, 33]
[51, 33, 44, 154]

In [96]:
print (cities)

['Vilnius', 'Kaunas', 'Klaipeda']

In [97]:
cities[2] = 'Siauliai'
print (cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [98]:
print ("Vilnius" in cities)
print ("Klaipeda" in cities)

True
False

In [99]:
print ( bool( [] ) ) # False tik kai tuscias
print ( bool( [0] ) )

False
True

## Operators with list

In [100]:
combined = [1,2,3] + ['a','b','c']
print(combined)

[1, 2, 3, 'a', 'b', 'c']

In [101]:
print ( combined * 10 )

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

In [102]:
print ( type( [] ) )
print ( type( () ) )

<class 'list'>
<class 'tuple'>