#

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("weather.csv", index_col=0)
df

,avg_high,avg_low,record_high,record_low,avg_precipitation,naujas stulpelis,naujas_stulpelis,naujas_stulpelis_2
month,,,,,,,,
Sep,77,57.0,103.0,40,0.17,5,5,31.5
Jul,77,58.0,105.0,44,0.00,5,5,30.5
Aug,77,59.0,102.0,43,0.03,5,5,29.5
Jun,75,56.0,107.0,41,0.11,5,5,33.0
Oct,73,54.0,96.0,34,0.81,5,5,31.0
May,71,53.0,98.0,35,0.48,5,5,31.5
Apr,67,50.0,92.0,28,1.02,5,5,32.0
Mar,65,48.0,84.0,25,2.34,5,5,29.5
Nov,64,48.0,84.0,30,1.70,5,5,27.0
Feb,61,45.0,78.0,26,3.02,5,5,26.0
Jan,58,42.0,74.0,22,2.05,5,5,26.0
Dec,58,42.0,73.0,21,2.56,5,5,26.0
Dec,58,NaN,NaN,21,2.56,5,5,NaN

In [ ]:
df = pd.read_csv('LT.csv')
df

In [ ]:
df.info()

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df['home_team'] = pd.Categorical(df['home_team'])
df['away_team'] = pd.Categorical(df['away_team'])
df.info()

In [ ]:
df.tail(10)

In [ ]:
df[ df['away_team'] == 'Lithuania' ]

In [ ]:
df['away_team'] == 'Lithuania'  # tai kauke

In [ ]:
df[ (df['away_team'] == 'Lithuania') & (df['city'] == 'Kharkiv') ]

In [ ]:
# Bitwise operator
# and &
# or 
# not = ~
# in = .isin ( <sarasas> )

In [ ]:
df[ df['city'].isin( ['Vilnius', 'Kaunas'] ) ]

In [ ]:
df.loc[ df['city'].isin( ['Vilnius', 'Kaunas'] ) ]

In [ ]:
df['city'].isin( ['Vilnius', 'Kaunas'] ) ]

In [ ]:
# Uzduotys

In [ ]:
df[ 'score_sum' ] = df['home_score'] + df['away_score'] 
df

In [ ]:
df[ 'score_diff' ] = df['home_score'] - df['away_score'] 
df

In [ ]:
df[ df['score_diff'] == 0 ]

In [ ]:
df[ df['home_team'] == 'Lithuania' ].sort_values('score_diff',ascending=True).iloc[0]

In [ ]:
len(df[ (df['away_team'] == 'Lithuania') & (df['score_diff'] > 0 ) ] )

In [ ]:
len(df[ (df['away_team'] == 'Lithuania') & (df['score_diff'] < 0 ) ] )

In [ ]:
len(df[ (df['home_team'] == 'Lithuania') & (df['score_diff'] > 0 ) ] )

In [ ]:
len(df[ (df['home_team'] == 'Lithuania') & (df['score_diff'] < 0 ) & (df['country'] == 'Lithuania') ])

In [ ]:
len( df[ (df['home_team'] == 'Lithuania') & (df['score_diff'] == 0 ) ] )

In [ ]:
len( df[ (df['away_team'] == 'Lithuania') & (df['score_diff'] == 0 ) ] )

# Groupby

In [ ]:
df

In [ ]:
df.groupby('home_team').sum()

In [ ]:
df.groupby('home_team').sum().loc['Lithuania', ['home_score','away_score'] ]

In [ ]:
import numpy as np

In [ ]:
def myfunction(group_values):

    return len(group_values)

df.groupby('home_team').agg(
    [np.sum, np.mean]
)

In [ ]:
df = df.rename( columns={'tourniment': 'tournament'})

In [ ]:
# # Kiek ivarciu lietuviai imuse ir praleido zaisdami skirtinguose cempionatuose, zaisdami isvykoje?
# 1. Atsifiltruoti, ten kur lietuviai zaide isvykoje
# 2. Sugrupuoti pagal tournamenta
# 3. Pasirinkti stulpelius home_score ir away_score
# 4. Gale prideti .sum()

In [ ]:
df[ df['away_team'] == 'Lithuania' ].groupby('tournament').sum()[ ['home_score', 'away_score'] ]

# Merge, join, concatenate

In [ ]:
pd.concat( [df_1, df_2], ignore_index=True )

In [ ]:
pd.concat( [df_1, df_2], axis=1 )

In [ ]:
left = left.set_index('key')
left

In [ ]:
right = right.set_index('key')
right

In [ ]:
left.join(right)

In [ ]:
left.join(right how='outer')

In [ ]:
pd.merge(left, right, how='left', on='key')

In [ ]:
right

In [ ]:
pd.merge

# Matplotlib

In [12]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
import numpy as np
x = np.arange(0,100)
y = x*5
z = x ** 2

In [ ]:
fig = plt.figure()
ax =  fig.add_axes( (0,0,1,1) )

ax.plot ( x,y )
ax.set_xlabel( 'X asis' )
ax.set_ylabel( 'Y asis' )
ax.set_title( 'Pavadinimas')

In [ ]:
fig = plt.figure()
ax =  fig.add_axes( (0,0,1,1) )
print(z[50])
z[49] = 2500
z[50] = 2200
ax.plot ( x,z )
ax_2 = fig.add_axes( (0.3,0.5,))

In [ ]:
fig, axes = plt.subplots( 3,3 )

for row in axes:
    for col in row:
        col.plot(x,y)

In [ ]:
fig, axes = plt.subplots( 1,2 )

axes[0]